.body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  background:white;
}

.herobanner {
  color: black;
  text-align: center;
  padding: 40px 20px;
  background: orange;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  margin-bottom: 25px;
}

.info-strip {
  text-align: center;
  margin-bottom: 25px;
}

.heading {
  border-bottom: 2px solid orange;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 8px;
}

.system-status {
  margin-top: 8px;
  font-size: 14px;
  color: orange;
  background: black;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
}

.about-content {
  max-width: 900px;
  margin: auto;
}

.card {
  background: white;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 6px;
  border-bottom: 3px solid rgb(255, 123, 0);
  border-left:3px solid rgb(255, 123, 0); ;
  box-shadow: 0 2px 6px rgb(255, 123, 0);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: black;
}

.card p {
  font-size: 14px;
  color: black;
}
