.body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  background:white;
}

.herobanner{
  color: black;
  text-align: center;
  padding: 40px 20px;
  background: orange;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  margin-bottom: 30px;
}

.hero h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

.hero p {
  color: #000000;
}

.updates {
  max-width: 900px;
  margin: auto;
}

.updates h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid orange;
  padding-bottom: 8px;
}

.card {
  background: white;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 6px;
  border-bottom: 3px solid rgb(255, 123, 0);
  border-left:3px solid rgb(255, 123, 0); ;
  box-shadow: 0 2px 6px rgb(255, 123, 0);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: black;
}

.card p {
  color: #000000;
  font-size: 14px;
}
